# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Custom files ignored
GlassmorphismPortfolio/*
src/assets/profile-pic-noback.png
src/assets/profile-pic.png
src/assets/profile-pic-noback.webp
public/*
!public/Gonzalo-De-Domingo-CV.pdf
.firebase/hosting.cHVibGlj.cache
