:root {
  --primary-color: #393939;
  --background-color: #111111;
  --secondary-color: white;
  --regular-font: 'HelveticaNowDisplay-Regular';
  --light-font: 'HelveticaNowDisplay-Light';
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

html {
  height: 100vh;
  scroll-behavior: smooth;
  min-width: 320px;
  scroll-padding-top: 12%;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body,
#root {
  height: 100%;
  background-color: var(--background-color);
  color: var(--secondary-color);
  font-family: var(--regular-font);
}

text-link {
  cursor: pointer;
}

.fade-out-transition-hover:hover {
  animation: fade-out 1s;
}

.fade-in-animation {
  animation: fade-in 1s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
