@font-face {
  font-family: "HelveticaNowDisplay-Regular";
  src: url("../fonts/HelveticaNowDisplay-Regular.ttf");
}

@font-face {
  font-family: "HelveticaNowDisplay-Light";
  src: url("../fonts/HelveticaNowDisplay-Light.ttf");
}