@font-face {
  font-family: 'HelveticaNowDisplay-Regular';
  src: url('../fonts/HelveticaNowDisplay-Regular.woff2') format('woff2'),
    url('../fonts/HelveticaNowDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('../fonts/HelveticaNowDisplay-Light.woff2') format('woff2'),
    url('../fonts/HelveticaNowDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
